body{
padding:0;
margin:0;
}
.ManichWrapper{
	width:100%;
	height:auto;
	margin:0 auto;
}
.MaSlide{
	width:100%;
	height:auto;
	background:#f0f0f0;
} 
.MaProductCenter{
	width:60%;
	margin:20 auto;
	height:auto;
	text-align:center;
}
#menusearch{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 3px 0;
    text-indent: 5px;
    width: 170px;
}
.MaProduct{
	float:left;
	width:33%;
	background:bbbbbb;
	height:600px;
}
.Masub-p1 img{
	max-width:100%;
	max-height:100%;
}
.Masub-p1{
	float:left;
	width:100%;
	height:50%;
}
.Masub-p1 >p{
	padding:5px 0;
	margin:0;
}
.MaProductSeeMore{
	width:80%;
	padding:10px 0;
	border:1px solid #ddd;
	margin: 0 auto;
}
.MaSlideCenter{
	width:100%;
	background:#dbdbdb;
	height:200px;
	float:left;
	box-shadow:-1px 2px 9px -6px inset;
}
.MaArrival{
	width:60%;
	margin:0 auto;
	height:auto;
	overflow:hidden;
}
.MaArriveTitle{
	width:30%;
	text-align:center;
	margin:0 auto;
	padding:20px 0;
}
.MaArriveTitle >p{
	margin:0;
	padding:0;
}
.MaProduct-Arr{
	width:100%;
	height:auto;
}
.MaProduct-Arr-box{
	float:left;
	width:25%;
	height:200px;
	text-align:center;
}
.MaLine{
	border-top:2px solid #dbdbdb;
	width:100%;
	margin:30px 0;
}
.Mabox-line{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #dbdbdb;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    top: -23px;
    width: 15%;
    text-align:center;
    line-height:30px;
}
.MaPickupPro{
	width:60%;
	margin:0 auto;
	overflow:hidden;
	height:auto;
}
.MaPickupBox{
	width:50%;
	height:300px;
	float:left;
}
.MaPickupBox >p{
	padding:3px 0;
	margin:0;
}
.MaBoxImg{
	background: #f9f9f9 none repeat scroll 0 0; 
    box-shadow: 0 0 2px -1px #acacac inset;
    height: 91%;
    width: 100%;
}
.MaBoxImg2{
	width:100%;
	height:91%;
}
.MaSubBox{
	width:100%;
	float:left;
	height:33%;
}
.MaBox-img, .MaBox-p{
	float:left;
	width:50%;
	height:100%;
}
.MaDelivery{
	background: #fbfbfb none repeat scroll 0 0;
    box-shadow:0 0 3px 1px #ddd inset;
    height: auto;
    margin:15px 0;
    overflow: hidden;
    width: 100%;
}
.MaDelivery-cotaint{
	width:60%;
	margin:0 auto;
	text-align:center;
}
.Mafooterlogo{
	width:60%;
	margin:0 auto;
	text-align:center;
	height:50px;
}
.MaDebox{
	float:left;
	width:25%;
	height:90px;
}
.MaFooter{
	width:100%;
	height:auto;
}
.Masubconfooter{
	width:60%;
	margin:0 auto; 
	overflow:hidden;
}
.Masubcatblock{
	float:left;
	width:33%;
	height:300px;
}

.SubBlock{
	width:45%;
	float:left;
	height:100%;
}
.SubBlock:first-child{
	padding-right:5%;
}
.SubBlock > h5{
	padding:20px 0 10px 0px;
	margin:0;
	border-bottom:1px solid #ddd;
}
.SubBlock ul{
	padding:0;
	margin:0;
	width:100%;
}
.SubBlock ul li{
	list-style:none;
}
.SubBlock ul li a{
	font-size:12px;
	text-align:left;
	text-indent:10px;
	text-decoration:none;
	color:#333;
}
.Macatcenter{
	background:#333;
}
.Masubcatblock:nth-of-type(3) > .SubBlock:nth-of-type(1){
	padding-left:5%;
}
.MaBlockFooter{
	width:60%;
	margin:0 auto;
}
.MaFooter{
	width:100%;
	padding:0;
	height:auto;
}
.MasubBlockFooter{
	float:left;
	width:33%; 
}
.MasubBlockFooter p{
	padding:0;
	margin:0;
	font-size:12px;
}
.MasubBlockFooter ul{
	width:100%;
	padding:0;
	margin:0;
}
.MasubBlockFooter ul li{
	float:left;
	list-style:none;
	padding:0px 0 0 8px;
}
.MasubBlockFooter ul li a{
	font-size:12px;
	color:#333;
	text-decoration:none;
}
.Malogo{
	width:100px;
	height:50px;
	background:red;
	margin:0 auto;
}
.Malogo img{
	max-width:100%;
}
.Macontainlogo{
	background: #fbfbfb none repeat scroll 0 0;
    box-shadow: 0 0 3px 1px #ddd inset;
    height: auto; 
    overflow: hidden;
    width: 100%;
}
.Maproduct-img{
	height:150px; 
}
.Maproduct-img img{
	max-width:100%;
	max-height:100%;
}
.Madesproduct{
	width:100%;
	float:left;
	height:25px;
}
.Madesproduct p{
	text-align:center;
	margin:0;
	padding:0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
.Madesprice{
	width:100%;
	float:left;
	height:25px;
}
.Madesprice span{
	text-align:center;
}
.Masocial{
	width:25px;
	height:25px; 
	display:inline-block;
}
.Masocial_0{
	background:rgba(0, 0, 0, 0) url("../images/socicon-social-icon-font.png") repeat scroll -7px -9px / 303px 289px;
}
.Masocial_1{
	background:rgba(0, 0, 0, 0) url("../images/socicon-social-icon-font.png") repeat scroll -52px -9px / 303px 289px;
}
.Masocial_2{
	background:rgba(0, 0, 0, 0) url("../images/socicon-social-icon-font.png") repeat scroll -7px 69px / 303px 289px;
}
.Masocial_3{
	background:rgba(0, 0, 0, 0) url("../images/socicon-social-icon-font.png") repeat scroll -48px -115px / 303px 289px;
}
.Masocial_4{
	background:rgba(0, 0, 0, 0) url("../images/socicon-social-icon-font.png") repeat scroll -140px -253px / 303px 289px;
} 